{{#if userNotFound}}
  <h4>{{userNotFound}}</h4>
{{/if}}
{{#if wrongData}}
  <h4>{{wrongData}}</h4>
{{/if}}

{{#if accessUserPages}}
  <h4>{{accessUserPages}}</h4>
{{/if}}

<h1>Login</h1>
<form action="/login" method="post">

  <input type="text" name="username" placeholder="Username:" />
  <br />
  <input type="password" name="password" placeholder="Password:" />
  <br />
  <input type="submit" value="Login" />

</form>

<a href="/auth/github" class="btn btn-default"> LOGIN WITH GITHUB</a>