<div id="feedWrapper">
  {{! <h2>The Feed</h2> }}
  <section id="feedSection">
    {{#each artworks}}
      <a href="/artworks/{{_id}}">
        <img src="{{imgUrl}}" alt="{{name}}" />
      </a>
    {{/each}}
  </section>
</div>