<header class="navContainer">
  <a id="logo" href="/">
    <img src="./images/art-gallery-logo.jpg" alt="Logo" />
  </a>

  <nav>
    <ul class="navLinks">
      <li><a href="/artworks">ART GALLERY</a></li>
      {{#if loggedInUser}}
        <li><a href="/post">POST ART</a></li>
        <form action="/logout" method="post">
          <button type="submit" id="logoutButton">LOGOUT</button>
        </form>
      {{else}}
        <li><a href="/register">REGISTER ACCOUNT</a></li>
        <li><a href="/login">LOGIN</a></li>
      {{/if}}
    </ul>
  </nav>
</header>