<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop node | Adam &amp; Tuva-Li &amp; Emma</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <nav class="navContainer">
      <section class="directLinks">
        <a href="/">HOME</a>
        <a href="/artworks">ARTWORKS</a>
        <a href="/post">POST ART</a>

      </section>

      <section class="logLinks">
        {{#if loggedInUser}}

          <form action="/logout" method="post">
            <button type="submit">LOGOUT</button>
          </form>
        {{else}}

          <a href="/register">SIGNUP</a>
          <a href="/login">LOGIN</a>
        {{/if}}

      </section>
    </nav>

    {{{body}}}
  </body>
</html>