<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="255464747963-3lnirab3i1n5leu4s9fh1r9jk1fj8m5v.apps.googleusercontent.com"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Art Gallery | Adam &amp; Tuva-Li &amp; Emma</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
  
    {{>header}}

    {{{body}}}

  </body>
</html>