<main>
  <div id="homeWrapper">
    <section id="introSection">
      <h2>Welcome to your number one source for art &amp; inspiration</h2>
      <p id="aboutText">
        Our goal is to provide you with fine art from both acclaimed artists to
        beginners with big aspirations. Create an account and post your own work
        or save uploaded pieces to your personal collection!
      </p>
    </section>
    <section id="featuredSection">
      <ul id="featuredArtList">
        {{#each artworks}}
          <li>
            <a
              href="/artworks/{{_id}}"
              style="background-image: url({{imgUrl}});"
            ></a>
          </li>
        {{/each}}
      </ul>
    </section>
    <div id="feedLink">
      <a href="/artworks">Browse the feed</a>
    </div>
  </div>
</main>