<main>
  <div id="homeWrapper">
    <section id="introSection">
      <h2>Welcome to your number one source for art &amp; inspiration</h2>
      <p>[here should be a text stating the purpose of the website a bit more in-depth than the header above]</p>
    </section>
    <section id="featuredSection">
      <ul id="featuredArtList">
        {{#each art}}
          <li>
            <a href="/artworks-single/{{_id}}">
              <img src="{{imgUrl}}" alt="{{name}}" />
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
    <div id="feedLink">
      <a href="/artworks">Browse the feed</a>
    </div>
  </div>
</main>