<main>
  <div id="homeWrapper">
    <section>
      <h2>Welcome to your number one source for art &amp; inspiration</h2>
    </section>
    <section id="featuredSection">
      <ul id="featuredArtList">
        <li>
          <a href="">
            <img src="{{imgUrl}}" alt="{{name}}" />
          </a>
        </li>
        <li><a href=""><img src="" alt="" /></a></li>
        <li></li>
      </ul>
    </section>
    <div id="feedLink">
      <a href="/feed">Browse the feed</a>
    </div>
  </div>
</main>