<form action="/register" method="post">
  <input type="text" name="usernae" placeholder="Username:" />
  <input type="text" name="password" placeholder="Password:" />
  <input type="text" name="confirmPassword" placeholder="Confirm Password:" />
  <input type="submit" value="Register" />

</form>