footer {
  height: 150px;
  width: 100%;
  /* background-color: purple; */
  /* background-color: mediumblue; */
  /* background-color: mediumvioletred; */
  background-color: var(--footer-bg-color);
}

.footerLinks {
  display: flex;
  list-style: none;
  padding: 1.5em;
}

.footerLinks li a {
  /* color: limegreen; */
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em;
}
