/* IMPORTS */

@import url(./header.css);
@import url(./footer.css);
@import url(./home.css);
@import url(./auth.css);
@import url(./artworks-single.css);
@import url(./artworks.css);
@import url(./post.css);

/* GLOBAL STYLING */

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* background-color:orchid */
  --intro-bg-color: purple;
  --feed-bg-color: hotpink;
  --footer-bg-color: mediumblue;
}

html {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  height: 100vh;
}

section {
  margin-bottom: 100px !important;
}
