/* IMPORTS */

@import url(./header.css);
@import url(./home.css);
@import url(./artworks-single.css);
@import url(./post.css);

/* GLOBAL STYLING */

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
