<div id="postWrapper">
  <section id="imageSection">
    <img id="artFileImage" src="#" alt="Your uploaded art" />
  </section>
  <section id="postSection">
    <p>Post your own art</p>

    <form
      action="/post"
      method="post"
      enctype="multipart/form-data"
      id="postForm"
    >
      <input type="file" name="imageFile" id="artFile" accept="image/*" />
      <div>
        <label for="artName">Name of the art</label>
        <input type="text" name="name" id="artName" />
      </div>
      <div>
        <label for="artDescription">Description</label>
        <textarea name="description" id="artDescription" rows="5"></textarea>
      </div>
      <div>
        <input type="submit" value="Post" />
      </div>
    </form>
    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
  </section>
</div>